<div>
  <h2>{{'MTF.MENU.ABOUT' | translate }}</h2>
  <br/>
  <p>
    In this application you can maintain your translation files.
  </p>
  <br/>
  <p>
    All data is stored in the database.
  </p>
  <br/>
  <p>
    On the download page it is possible to retrieve the translations you need in json-format. Just copy the code and paste it in your own .json file.
    <br/>
    Another option is to load the required translations from the database into your application.
  </p>
  <br/>
  <p>
    On the upload page you can copy the contents an existing .json translation file and load them into this application.
  </p>
  <br/>
  <p>
    Developer: Sander Otten (SO Activities)
  </p>
  <br/>
  <p>
    For more information about the developer, please visit <a href="http://www.soactivities.net" target="_blank">www.soactivites.net</a>
  </p>
</div>
