<ul>
  <li title="{{ 'MTF.MENU.LANGUAGES'    | translate }}" (click)="navigateTo('languages')"    [ngClass]="{'active' : activeLink=='languages'}"   ><span>{{ 'MTF.MENU.LANGUAGES'    | translate }}</span></li>
  <li title="{{ 'MTF.MENU.APPLICATIONS' | translate }}" (click)="navigateTo('applications')" [ngClass]="{'active' : activeLink=='applications'}"><span>{{ 'MTF.MENU.APPLICATIONS' | translate }}</span></li>
  <li title="{{ 'MTF.MENU.LABELS'       | translate }}" (click)="navigateTo('labels')"       [ngClass]="{'active' : activeLink=='labels'}"      ><span>{{ 'MTF.MENU.LABELS'       | translate }}</span></li>
  <li title="{{ 'MTF.MENU.TRANSLATIONS' | translate }}" (click)="navigateTo('translations')" [ngClass]="{'active' : activeLink=='translations'}"><span>{{ 'MTF.MENU.TRANSLATIONS' | translate }}</span></li>
  <li title="{{ 'MTF.MENU.DOWNLOADS'    | translate }}" (click)="navigateTo('downloads')"    [ngClass]="{'active' : activeLink=='downloads'}"   ><span>{{ 'MTF.MENU.DOWNLOADS'    | translate }}</span></li>
  <li title="{{ 'MTF.MENU.UPLOADS'      | translate }}" (click)="navigateTo('upload')"       [ngClass]="{'active' : activeLink=='upload'}"      ><span>{{ 'MTF.MENU.UPLOADS'      | translate }}</span></li>
  <li title="{{ 'MTF.MENU.ABOUT'        | translate }}" (click)="navigateTo('about')"        [ngClass]="{'active' : activeLink=='about'}"       ><span>{{ 'MTF.MENU.ABOUT'        | translate }}</span></li>
</ul>
